<mat-tab-group disableRipple="true">
  <mat-tab label = "Áreas"> <app-area></app-area> </mat-tab>
  <mat-tab label = "Evaluador"> <app-evaluador></app-evaluador> </mat-tab>
  <mat-tab label = "Colaborador"> <app-colaborador></app-colaborador> </mat-tab>
  <mat-tab label = "Autoevaluación"> <app-autoevaluacion></app-autoevaluacion> </mat-tab>
</mat-tab-group>