<mat-card>

    <div class="container" [hidden]="mostrarInicio">
        <app-inicio *ngIf="!mostrarInicio" (muestraInicio)='iniciar($event)'></app-inicio>
    </div>

    <div [hidden]="!mostrarInicio">
        <div class="container">
            <app-pregunta [hidden]="calificacion" *ngIf="pregunta" [pregunta]="pregunta" [iteracion]="iteracion"
                (responde)='response($event)'>
            </app-pregunta>
        </div>
        <div class="container">
            <app-calificacion [hidden]="!calificacion" *ngIf="calificacion" [resultCalificacion]="resultCalificacion"
                [cantidadIntento]="cantidadIntento" [numeroIntento]="numeroIntento" (intenta)='intentaNuevo($event)'
                (finaliza)='finalizaCuestionario($event)'></app-calificacion>
        </div>
        <br><br>
        <div class="container">
            <div class="example-button-row">
                <button *ngIf="!calificacion" mat-raised-button color="accent">
                    <mat-icon>close</mat-icon> CANCELAR
                </button>
                <button *ngIf="!calificacion" mat-raised-button color="accent" [disabled]="bloqueo"
                    (click)="continuar()">
                    CONTINUAR <mat-icon>arrow_forward</mat-icon>
                </button>
            </div>
        </div>
        <br><br><br>
        <div class="container">
            <span class="text">Pregunta {{numeroPregunta}} de {{totalPregunta}}</span>
            <mat-progress-bar class="app-spinner" mode="determinate" value="{{porcentaje}}"></mat-progress-bar>
        </div>
        <br><br>
        <div class="container">
            <app-cronometro *ngIf="cronometro" [tiempo]="tiempo" (terminaTiempo)='terminarTiempo($event)'>
            </app-cronometro>
        </div>
    </div>

</mat-card>