<mat-card class="header">
  <span class="header-title">MYSA </span>
  <button mat-icon-button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
</mat-card>

<!-- MENU -->
<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="menu-tree">
  <mat-tree-node *matTreeNodeDef="let menu" matTreeNodeToggle>
    <li [routerLink]="menu.cidUrl">
      <div class="mat-tree-node">
        <div class="menu-item">
          <mat-icon *ngIf="menu.cidIcono" style="font-size: 18px !important; width: 20px !important;">{{menu.cidIcono}}</mat-icon>
          <span>{{menu.cidNombre}}</span>
        </div>
      </div>
    </li>
  </mat-tree-node>

  <mat-nested-tree-node *matTreeNodeDef="let menu; when: hasChild">
    <li matTreeNodeToggle>
      <div class="mat-tree-node">
        <div class="menu-item">
          <mat-icon *ngIf="menu.cidIcono" style="font-size: 18px !important; width: 18px !important;">{{menu.cidIcono}}</mat-icon>
          <span>{{menu.cidNombre}}</span>
        </div>

    
        <div mat-icon-button class="icon-arrow">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(menu) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </div>
      </div>

      <ul [class.menu-tree-invisible]="!treeControl.isExpanded(menu)">
        <ng-container matTreeNodeOutlet></ng-container>
      </ul>
    </li>
  </mat-nested-tree-node>
</mat-tree>
<!-- END MENU -->
