<!-- PAGE CHANGE LOADING -->

    <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

        <mat-drawer-container  [hasBackdrop]="false" >

            <!-- TOOLBAR -->
        <mat-drawer #drawer mode="side"  [ngClass]="{'has-sidenav-open': drawer.opened, 'mat-drawer-02' : menu_ocultar_estilo, 'mat-drawer-01' : menu_mostrar_estilo}"   [hidden] = "menu_ocultar">
                <protected-toolbar  [ngClass]="{'has-sidenav-open': drawer.opened,  'mat-drawer-02' : menu_ocultar_estilo, 'mat-drawer-01' : menu_mostrar_estilo}"   [drawer]="drawer" [hidden] = "menu_ocultar"></protected-toolbar>
        </mat-drawer> 
            <!-- END TOOLBAR -->
        
            <!-- CONTENIDO -->
        <mat-drawer-content [ngClass]="{'has-sidenav-open': !drawer.opened,  'mat-drawer-content-02' : menu_ocultar_estilo, 'mat-drawer-content-01' : menu_mostrar_estilo}"   [hidden] = "menu_ocultar">
                 
                <!-- NAVBAR --> 
                <protected-navbar></protected-navbar>
                <!-- END NAVBAR -->
        
                <div class="content">
                    <router-outlet></router-outlet>
                </div>
        
            </mat-drawer-content>
            <!-- END CONTENIDO -->
        </mat-drawer-container>
        
    



