:host {

    .container {
      position:relative;
      display:flex;
      justify-content:center;
      align-items:center;
    }
    
    .text {
      position: absolute;
      z-index: 1;
      font-size: 26px;
      color: white;
      font-weight: bold;
    }
    
    mat-progress-bar {
      position: absolute;
    }
  
    .app-spinner {
      width: 600px !important;
      height: 50px !important;
      background: #E4E8EB;
      border-radius: 10px;
  }
  
  .example-button-row button,
  .example-button-row a {
    margin-right: 25px;
    border-radius: 8px;
    height:48px !important;
    width:150px !important;
    font-size:16px !important;
  }
  
  }
  