<div class="container">

  <mat-card>
    <mat-card-header>
      <section class="mat-typography">
        <h1>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's
          standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
          make
          a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
          containing
          Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
          versions
          of Lorem Ipsum.</h1>
      </section>
    </mat-card-header>
  </mat-card>

</div>
<br>
<div class="container">
  <div class="example-button-row">
    <button mat-raised-button color="accent" (click)="iniciar()">
      CONTINUAR <mat-icon>arrow_forward</mat-icon>
    </button>
  </div>
</div>