<div class="container">
  <h1>Calificación: &nbsp;&nbsp;&nbsp; {{CresultCalificacion  | number : '1.2-2' }} </h1>
</div>
<div class="container">
  <h1>Intentos: &nbsp;&nbsp;&nbsp; {{CnumeroIntento}} de {{CcantidadIntento}} </h1>
</div>

<div class="container">
    <div class="example-button-row" [hidden]="ocultar">
        <button mat-raised-button color="accent" (click)="intentarNuevo()"   >
            <mat-icon>refresh</mat-icon> Intentar Nuevamente
        </button>
    </div>
</div>
<br>
<div class="container">
    <div class="example-button-row">
        <button mat-raised-button color="accent" (click)="finalizar()">
            <mat-icon>send</mat-icon> Finalizar
        </button>
    </div>
</div>