:host{
    .container {
        position:relative;
        display:flex;
        justify-content:center;
        align-items:center;
      }

      .example-button-row button,
.example-button-row a {
  margin-right: 25px;
  border-radius: 8px;
  height:48px !important;
  width:220px !important;
  font-size:16px !important;
}

}