
.texto-color-deshabilitado{
    font-weight: 600;
}

.formato_header_table{
    color: black;
    font-weight: 600;
  }
  
.formato_header_table-acciones{
    color: black;
    font-weight: 600;
    text-align: center;
}
  
.mat-header-row-formato {
    //background-color: #d8e9f5; 
    color: black;
    background-color: #D3E1EE;
    font-size: 14px; 
    font-weight: 600
}

.icono-busqueda-formato {
    width: "26px"; 
    height: "26px"
}
  
