<input type="hidden" placeholder="Enter Contdown Time" id="countdown_time" value="{{tiempo}}" />
<button style="display: none;" id="terminoTiempo" (click)="terminoTiempo()">acepta</button>

<div>
  <div class="remaining_time" style="font-size: 30px;color: red;font-weight: bold;" ></div>
</div>