<div class="container">
  <h1 id="example-radio-group-label">{{pregunta[this.iteracion].nombrePregunta}}</h1>
</div>
<div class="container">
  <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
    <mat-radio-button class="example-radio-button" 
      *ngFor="let respuesta of pregunta[this.iteracion].respuesta"
      [value]="respuesta"
      (click)="responder(respuesta.idRespuesta,pregunta[this.iteracion].idPregunta,pregunta[this.iteracion].idRespuestaCorrecto)">
      {{respuesta.nombreRespuesta}}
    </mat-radio-button>
  </mat-radio-group>
</div>