<mat-card class="mat-elevation-z5">
  <mat-card-header >
    <div class="mat-card-header-text" style="margin: 0 25px !important;"> 
        <mat-card-title>
                BALOTARIO VIRTUAL       
          </mat-card-title>
    </div>
   
  </mat-card-header> 

  <mat-card-content>

    <form [formGroup]="authForm" (submit)="onSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>Ingrese su contraseña</mat-label>
        <mat-icon matPrefix style="font-size: 180% !important;">person</mat-icon>
        <input matInput formControlName="username" placeholder="Ingrese nombre de usuario"  style="margin-left: 4px;">
        <mat-error *ngIf="authForm.get('username').invalid && authForm.get('username').touched">
          {{ authForm.get('username').errors | errorMessage:"Usuario" }}
        </mat-error>
      </mat-form-field>
     
      <mat-form-field appearance="outline" >
        <mat-label>Ingrese su contraseña</mat-label>
        <mat-icon matPrefix style="font-size: 180% !important;">lock</mat-icon>
        <input type="password" matInput formControlName="password"  placeholder="Ingrese su contraseña" style="margin-left: 4px;">
        <mat-error *ngIf="authForm.get('password').invalid && authForm.get('password').touched">
          {{ authForm.get('password').errors | errorMessage:"Contraseña" }}
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" style="background-color: #2c6fb5 !important; border-radius: 10px;">INGRESAR</button>

    </form>
  </mat-card-content>


</mat-card>
