:host {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;

    mat-card {
        width: 300px;
        max-width: 300px;
        padding: 40px;

        mat-card-header{
            .mat-card-header-text {
                margin: 0 1px !important;
                margin: auto  !important;
            }
        }
    
        mat-card-title {
            display: flex;
            flex-direction: column;
            text-align: center;
            font-size: 20px;
            padding: 30px 0;

            div {
                margin-bottom: 50px;
            }
        }

        mat-card-content {
            form {
                display: flex;
                flex-direction: column;

                button {
                    margin: 30px;
                }
            }
        }
    }

}

.mat-card-header-text {
    margin: 0 2px;  
    margin: auto;
}
