

<!-- BANDEJA -->
<mat-card>
<mat-card-content>
<div class="container" [formGroup]="filtrosForm" >
  <div class="left">
    <button mat-raised-button color="primary" matTooltip="Carga masiva por excel" (click) = "descargarPlantillaExcel()"> <mat-icon  >people</mat-icon><span class= "espacio-icon-label">Carga masiva</span>
     
    </button>
      </div>
  <div class="right">
    <mat-form-field appearance="outline" class="caja-top">
      <mat-label>Buscar persona</mat-label>
      <mat-icon matPrefix style="font-size: 180% !important; cursor: pointer; padding-right: 10px;" matTooltip="Buscar persona">search</mat-icon>
      <input matInput (keyup)="onKeyup()" formControlName="codDocFrmCtrl" class="caja-size" [(ngModel)]="txtBuscar">
    </mat-form-field>
           
      </div>
  <div class="center">
    <button mat-raised-button color="primary" matTooltip="Agregar persona" (click) = "agregarPersona()"><mat-icon  >person_add</mat-icon><span class= "espacio-icon-label">Agregar persona</span>
      
    </button> 
      </div>
  </div>
  </mat-card-content>
</mat-card>

    <div class="bandeja mat-elevation-z4" >

      <table mat-table [dataSource]="dataSource">
    
    
        <ng-container matColumnDef="nombre_completo">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let per"  style="width: 30%;"> <mat-icon class="material-icon-tamanio" >person_outline</mat-icon> {{per.nombreCompleto}} </td>
        </ng-container>
    
        <ng-container matColumnDef="identificacion">
          <th mat-header-cell *matHeaderCellDef> Identificación </th>
          <td mat-cell *matCellDef="let per" style="width: 8%; text-align: center;"> {{per.noUsuario}} </td>
        </ng-container>
    
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let per"style="width: 26%;"> {{per.correo}} </td>
        </ng-container>
    
        <ng-container matColumnDef="cargo">
          <th mat-header-cell *matHeaderCellDef>Cargo</th>
          <td mat-cell *matCellDef="let per"  style="width: 12%;text-align: center;">{{per.desCargo}} </td>
        </ng-container>
    
        <ng-container matColumnDef="area">
          <th mat-header-cell *matHeaderCellDef>Área</th>
          <td mat-cell *matCellDef="let per"  style="width: 8%;text-align: center;"> {{per.desArea}} </td>
        </ng-container>
    
    
    
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef >Editar</th>
          <td mat-cell *matCellDef="let per"  style="width: 4%; text-align: center;">
    
        
            <button mat-icon-button color="primary" (click)="editarPersona(per.codUsuario)" matTooltip="Editar persona">
                <mat-icon>edit</mat-icon>
            </button>
    
        
    
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="columnas" class = "mat-header-row-formato"></tr>
        <tr mat-row  *matRowDef="let row; columns: columnas"></tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[10, 15, 20]"></mat-paginator>
        
      <!--
        <div class="empty" *ngIf="!isLoading && dataSource === null">
            No existe datos para mostrar en la tabla
        </div>
        -->
          <!---
        <mat-toolbar>
          <mat-toolbar-row class="paginacion-right mat-toolbar-fondo">
            <div *ngIf="dataSource !== null" style="float: left !important;">
              <mat-icon svgIcon="excel-pais" (click)="descargarExcel($event)" class="excel-icon-top"  matTooltip="Descargar Excel"></mat-icon>
              <span class="example-spacer"></span>   
            </div>
            <div>
                <mat-paginator 
                [length]="total" 
                [pageIndex]="pagina - 1" 
                [pageSize]="cantidad" 
                [showFirstLastButtons]="true"
                [pageSizeOptions]="[15, 30, 50]" 
                (page)="cambiarPagina($event)">
                </mat-paginator>
    
            </div>
          </mat-toolbar-row>
        </mat-toolbar> 
      -->
    </div>


<!-- BANDEJA -->



