<mat-card>
  <mat-card-content>

    <div class="inputs" [formGroup]="filtrosForm" fxLayout.xl="row" fxLayout.lg="row">
      <mat-form-field appearance="outline">
        <mat-label>Dominio</mat-label>
        <mat-select formControlName="comboDominioFrmCtrl" class="tamanio-seleccionar">
          <mat-option [value]="-1">--SELECCIONAR--</mat-option>
          <mat-option *ngFor="let est of listComboDominio" [value]="est.idCodigo">{{est.cidNombre}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  </mat-card-content>
</mat-card>
<br>

<mat-card>
  <mat-card-content>
    <div fxLayout="column">
      <div fxLayout="row" style="height: 300px">
        <div fxFlex="50" fxLayoutAlign="center center">
          <div class="chart-container">
            <canvas id="canvas"></canvas>
          </div>
        </div>
        <div fxFlex="50" fxLayoutAlign="center center">

        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>